.app{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 241, 249);
}

.container{
  display: flex;
  height:80vh;
  background-color: rgb(203, 224, 243);
  border: 1px solid rgb(0, 106, 155);
  color:rgb(73, 2, 2);
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.todo-form{
  display:flex;
  width:500px;
  justify-content: space-around;
}

.todo-form > input{
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.all-todos{
  list-style:none;
  margin: 30px 0;
  padding:20px;
  overflow-y: auto;
}

.single-todo{
  border-radius: 10px;
  margin :10px 0;
  background-color: rgb(3, 51, 119);
  padding: 10px 20px;
  display:flex;
  width: 450px;
  align-items: center;
  
}

.todo-text{
  flex:1;
}

.todo-text{
  color: whitesmoke;
}

.edit-button{
  background-color: rgb(251, 233, 168);
}

.delete-button{
  background-color: rgb(251, 182, 182);
}

button:hover {
  
  transform: scale(1.1); 
  border-color: #333; 
}

button:active {
  
  transform: scale(0.9); 
  background-color: #000000; 
  color:#ffffff;
}

.highlight{
  border: 5px solid rgb(246, 255, 0);
}